version: '3'
services:
  flask:
    build:
      context: server
      dockerfile: Dockerfile
    container_name: flask
    image: knox.edu/revue-flask:3.6
    restart: unless-stopped
    environment:
      APP_ENV: "dev"
      APP_DEBUG: "true"
      APP_PORT: 5000
      FLASK_ENV: "DEVELOPMENT"
      MONGODB_DATABASE: revue
      MONGODB_USERNAME: flaskuser
      MONGODB_PASSWORD: passwd123
      MONGODB_HOSTNAME: mongodb
    volumes:
      - appdata:/var/www
    depends_on:
      - mongodb
    networks:
      - frontend
      - backend
  mongodb:
    image: mongo:4.0.8
    container_name: mongodb
    restart: unless-stopped
    command: mongod -v --auth
    hostname: 'mongodb'
    environment:
      MONGO_INITDB_ROOT_USERNAME: flaskuser
      MONGO_INITDB_ROOT_PASSWORD: passwd123
      MONGO_INITDB_DATABASE: revue
      MONGODB_DATA_DIR: /data/db
      MONGODB_LOG_DIR: /dev/null
    volumes:
      - mongodbdata:/data/db
    networks:
      - backend
  webserver:
    build:
      context: nginx
      dockerfile: Dockerfile
    image: knox.edu/webserver:latest
    container_name: webserver
    restart: unless-stopped
    environment:
      APP_ENV: "dev"
      APP_NAME: "webserver"
      APP_DEBUG: "false"
      SERVICE_NAME: "webserver"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginxdata:/var/log/nginx
    depends_on:
      - flask
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  mongodbdata:
    driver: local
  appdata:
    driver: local
  nginxdata:
    driver: local